@font-face {
  font-family: ThinReg;
  src: url(../fonts/Tellumo/Tellumo-Thin.otf) format("opentype");
}

@font-face {
  font-family: ThinItalic;
  src: url(../fonts/Tellumo/Tellumo-LightItalic.otf) format("opentype");
}

@font-face {
  font-family: Light;
  src: url(../fonts/Tellumo/Tellumo-Light.otf) format("opentype");
}

@font-face {
  font-family: NormalReg;
  src: url(../fonts/Tellumo/Tellumo.otf) format("opentype");
}

@font-face {
  font-family: MediumRegular;
  src: url(../fonts/Tellumo/Tellumo-Medium.otf) format("opentype");
}

@font-face {
  font-family: BoldBlack;
  src: url(../fonts/Tellumo/Tellumo-Bold.otf) format("opentype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  overflow-x: hidden;
}

body {
  color: #001c00;
  font-size: 1rem;
  font-family: NormalReg;
  cursor: url("../img/crayon9.png"), auto;
  background-color: white;
  overflow-x: hidden;
}

section {
  padding: 5rem;
  background-image: url(../img/jigsawWhite.svg);
}

#myStorySect {
  padding: 6rem 2rem;
  background-image: url(../img/jigsaw.svg);
  background-size: 11rem;
  background-color: #001c00;
}

/*MAIN CONTENT CELL*/

.mainCell {
  background-color: white;
  border: solid 1px #001c00;
  max-width: 80rem;
  margin: auto;
  margin-top: 0rem;
  padding: 5rem 16rem;
}

.titleTexts {
  margin-bottom: 2rem;
}

/* IMAGES */

img {
  width: 15rem;
  height: auto;
  margin: auto;
}

/* MENU */

.menu {
  float: right;
  width: 100%;
  min-width: 320px;
  background-color: transparent;
  position: fixed;
  padding: 2rem 2rem 1rem 0;
  text-align: right;
  font-size: 1.5rem;
  font-family: Light;
  z-index: 10;
}

#siteNav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#siteNav ul li {
  display: inline;
}

#siteNav ul li a,
button {
  padding: 0.5rem 1.25rem;
  margin-left: 2.5rem;
  text-decoration: none;
  transition: all 0.1s;
  border-radius: 2px;
  font-family: Light;
}

.menu ul li a,
button {
  color: #001c00;
  background-color: white;
  border: solid 1.5px #001c00;
  box-shadow: -5px -5px 0 #001c00;
}

#siteNav ul li a:hover {
  cursor: url("../img/crayon10.png"), pointer;
}

.menu ul li a:hover {
  background-color: #b8f4e7;
}

#siteNav ul li a:active {
  position: relative;
  bottom: 3px;
  right: 3px;
}

.menu ul li a:hover {
  background-color: red;
}

.menu ul li a:active {
  border: solid 2px #001c00;
  box-shadow: 0 0 0 white;
}

.menuReverse ul li a {
  color: white;
  background-color: #001c00;
  border: solid 1px white;
  box-shadow: -3px -3px 0 white;
}

.menuReverse ul li a:active {
  border: solid 2px white;
}

/* HEADERS AND TEXT */

h1,
h2,
h3 {
  font-family: BoldBlack;
  text-align: center;
  margin: 0 auto;
  padding: 1rem;
  letter-spacing: -3px;
}

h1 {
  font-size: 12.5rem;
  line-height: 11rem;
  /* -webkit-text-stroke: 2px #001c00;
  color: transparent; */
}

h2 {
  font-size: 9rem;
  line-height: 8rem;
  color: #001c00;
  letter-spacing: -1px;
  margin-bottom: 2rem;
}

h3 {
  font-family: MediumRegular;
  font-size: 3rem;
  line-height: 3.5rem;
  text-align: left;
  padding-left: 0;
  color: #001c00;
  letter-spacing: 0px;
}

h4 {
  font-family: NormalReg;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 1rem;
}

p {
  font-family: Light;
  font-size: 1.25rem;
  line-height: 2rem;
  text-align: center;
  margin-bottom: 1rem;
  text-align: left;
}

i {
  font-family: ThinItalic;
}

b {
  font-family: MediumRegular;
}

a {
  text-decoration: none;
  border-bottom: #001c00 1.5px solid;
  color: #001c00;
  font-family: NormalReg;
  cursor: url("../img/crayon9.png"), auto;
}

#myStorySect h2 {
  text-align: left;
  padding-left: 0;
  margin-left: -0.5rem;
  color: #fff;
}

#myStoryCell > h3 {
  font-family: MediumRegular;
  color: #fff;
}

#banner h3 {
  font-size: 5.5rem;
  line-height: 6.5rem;
  text-align: center;
  color: white;
  -webkit-text-stroke-width: 0px;
  padding-left: 1rem;
  padding: 2rem 1.5rem;
}
.projectDesc h3,
.projectDesc h4,
.projectDesc p,
.noobCell h3 {
  text-align: center;
}

.projectDesc h3,
.noobCell h3 {
  padding-left: 1rem;
  color: #001c00;
  -webkit-text-stroke-width: 0;
}

.projectDesc h3 {
  font-size: 2.5rem;
  line-height: 3rem;
}

.titleTexts h4 {
  font-family: ThinItalic;
  font-size: 1rem;
  line-height: 0.75rem;
  margin: 1rem auto;
}

#noobCap p {
  margin: 0;
}

#myStorySect span {
  font-family: MediumRegular;
}

#myStorySect p {
  max-width: 38rem;
}

#myStorySect bold {
  font-family: BoldBlack;
}

/* HOMEPAGE */

#canvas,
#canvas2 {
  overflow-x: hidden;
  min-height: 85vh;
}

#canvas2 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: end;
  width: 100vw;
}

#canvas2 img {
  width: 120%;
  max-width: 40rem;
  position: absolute;
  top: 3rem;
}

#canvas {
  background-image: url(../img/jigsawWhite.svg);
  background-size: 11rem;
}

#title {
  display: flex;
  justify-content: center;
  align-items: end;
  width: 100%;
  min-height: 85vh;
  position: absolute;
  top: 0;
  background-image: url(../img/jigsaw.svg);
  background-size: 11rem;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  padding-bottom: 1rem;
}

#banner {
  min-height: 18vh;
  width: 100%;
  padding: auto;
  text-align: center;
  background-color: #001c00;
  display: flex;
  justify-content: center;
  align-items: center;
}

#workBody {
  background-image: url(../img/scatterStars.svg);
  background-size: 70rem;
  padding-top: 3rem;
  padding-bottom: 2rem;
  width: 100%;
}

#workBody .mainCell {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  background-color: transparent;
  border: none;
  margin-top: 0;
  padding: 0 2rem;
  max-width: 80rem;
}

.subGrid {
  display: flex;
  min-height: 18rem;
  width: 90%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  padding: 0.5rem 1rem;
  border: solid 1.5px #001c00;
  border-radius: 4px;
  box-shadow: -15px -15px 0 #001c00;
  margin: 2rem;
  margin-bottom: 2rem;
}

.smooth-transition {
  transition: background-color 0.3s ease;
}

.projectDesc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem 1rem 1rem 0;
}

.in_prog {
  transition: opacity 0.3s ease;
}

.in_prog h3,
.in_prog h4 {
  pointer-events: none;
}

/* MY STORY */

#myStorySect .mainCell {
  position: relative;
  border-color: #fff;
  background-color: #001c00;
  color: white;
  padding: 6rem;
  padding-top: 8rem;
}

#myStoryTitles {
  margin-bottom: 2rem;
}

#myStoryTitles h2 {
  margin-bottom: 0;
}

.socials {
  padding: 1rem;
  border-bottom: #fff 1.5px solid;
  margin-bottom: 3rem;
  max-width: 60rem;
}

.socials a {
  color: #fff;
  line-height: 1.5rem;
  border-bottom: #fff 1.5px solid;
  font-family: Light;
}

.socials p {
  line-height: 2rem;
}

.socials > ul {
  list-style-type: none;
}

.blackBG {
  background-color: #001c00;
}

.threeColGrid,
.twoColGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 1rem;
  margin: 2rem 0;
}

.twoColGrid {
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 0;
  width: 100%;
}

#meImgContainer {
  width: 120%;
}

#meImgContainer > h3 {
  color: #fff;
}

#cescaDraw {
  width: 100%;
  transform: rotate(5deg) translate(3rem, -10rem);
}

#skillsGrid h3 {
  text-align: center;
  color: #fff;
  margin-bottom: 0.5rem;
}

.skill_cell {
  margin-bottom: 1rem;
}

.skill_cell ul,
.skill_cell p {
  text-align: center;
  margin-bottom: 0;
}
.skill_cell li {
  list-style-type: none;
}

/* For Fish */
/*
#noobSect {
  text-align: center;
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='20' height='20' patternTransform='scale(3) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M-10-10A10 10 0 00-20 0a10 10 0 0010 10A10 10 0 010 0a10 10 0 00-10-10zM10-10A10 10 0 000 0a10 10 0 0110 10A10 10 0 0120 0a10 10 0 00-10-10zM30-10A10 10 0 0020 0a10 10 0 0110 10A10 10 0 0140 0a10 10 0 00-10-10zM-10 10a10 10 0 00-10 10 10 10 0 0010 10A10 10 0 010 20a10 10 0 00-10-10zM10 10A10 10 0 000 20a10 10 0 0110 10 10 10 0 0110-10 10 10 0 00-10-10zM30 10a10 10 0 00-10 10 10 10 0 0110 10 10 10 0 0110-10 10 10 0 00-10-10z'  stroke-width='0.5' stroke='hsla(0, 0%, 14%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
}

#noobCap {
  background-color: white;
  border: solid 1px #001c00;
  max-width: 48rem;
  min-width: 29rem;
  padding: 1.25rem 2.6rem;
  padding-right: 2.25rem;
  margin: 1rem auto 3rem;
  border-radius: 4rem;
}

#noobGrid {
  max-width: 85rem;
  display: grid;
  padding: 2rem;
  gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  margin: auto;
}

.noobCell {
  min-height: 252px;
  border: solid 2px #001c00;
  border-radius: 4px;
  box-shadow: -10px -10px 0 #001c00;
  padding: 1.5rem 1rem;
  background-color: white;
  display: flex;
  align-items: center;
}
*/
/* PROJECT GRIDS */
/*
.f1,
.f2,
.f3 {
  padding: 0.5rem;
  border: #001c00 1.5px solid;
  background-color: #fff;
  margin: auto;
}

.f1 {
  width: 80rem;
  padding: 0.5rem;
}

.f2 {
  padding: 0.5rem;
  background-color: #fff;
}
*/

/* INDIVIDUAL PROJECTS */

#projSect {
  padding: 6rem 2rem;
  margin: 0;
  background-image: url(../img/jigsawWhite.svg);
  background-size: 11rem;
  width: 100%;
}

.projMain {
  padding: 6rem;
  padding-top: 8rem;
  background-color: #fff;
  margin: auto;
  border: #001c00 1.5px solid;
  width: 80rem;
}

.projGrid {
  display: block;
  width: 40rem;
  margin: auto;
  /*
  grid-template-columns: 1fr 1fr;
  gap: 6rem;
  row-gap: 0rem; */
}

.flexCell {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-bottom: 0.5rem;
}

.imgBox {
  max-height: 32rem;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  border: #001c00 1.5px solid;
}
.imgBox img {
  width: 100%;
  height: auto;
  padding: 0;
  margin-bottom: -0.4rem;
}

.imgBox_oneCell,
.imgBox_twoCell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.imgBox_twoCell {
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.imgBox_oneCell > img,
.imgBox_twoCell > img {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0 0.5rem;
  border: #001c00 1.5px solid;
}

.imgBox_twoCell > img {
  width: 50%;
}

.imgCap {
  margin-top: 1rem;
}

.projTitle {
  margin-bottom: 3rem;
  text-align: center;
}
.projMain h3 {
  font-size: 7rem;
  line-height: 7rem;
  letter-spacing: -2px;
  text-align: center;
  padding: 1rem;
}

.subTitle {
  font-family: ThinReg;
  font-size: 2rem;
  -webkit-text-stroke-width: 0px;
  letter-spacing: 0px;
}

#mystorysect p,
.projGrid p,
.projGrid ul,
.projGrid h5,
.imgCap {
  font-family: Light;
  font-size: 1.75rem;
  line-height: 2rem;
}

.flexCell p {
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: ThinItalic;
  margin-top: 0.25rem;
  text-align: center;
}

.projGrid h5 {
  font-family: MediumRegular;
  margin: 1rem 0;
  margin-top: 3rem;
}

.projGrid ul {
  list-style-type: disc;
  margin-bottom: 1rem;
}

.projGrid li {
  margin-left: 2.5rem;
  margin-bottom: 0.5rem;
}

.warnText {
  border: #001c00 1.5px dashed;
  padding: 1rem 2rem;
  margin-top: 3rem;
}

.warnText h5 {
  margin-top: 1rem;
}

.projGrid p,
.projGrid ul,
.imgCap {
  font-size: 1.25rem;
}

.flexCell p {
  font-size: 1rem;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Light;
  font-size: 1.25rem;
  max-width: 14rem;
  margin-left: 1rem;
  margin-top: 0rem;
  padding: auto 1rem;
}

.btnBox {
  display: flex;
  justify-content: center;
  margin: 3rem auto;
  margin-top: 2rem;
}

.fa-brands {
  font-size: 1.7rem;
  margin-left: 0.5rem;
}

#githubMsg {
  text-align: center;
  background-color: #fff;
  margin-bottom: 1rem;
  max-width: 80rem;
  border: 1.5px solid #001c00;
  padding: 2rem auto;
  
}

#githubMsg a {
  font-family: BoldBlack;
}

/* MEDIA QUERIES */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  html {
    font-size: 12px;
  }

  #title,
  #canvas,
  #canvas2 {
    max-height: 78vh;
  }

  .menu {
    width: 100%;
    background-color: #fff;
    position: fixed;
    margin: 0;
    padding: 0.75rem;
    padding-bottom: 0.5rem;
    text-align: right;
    font-size: 1.5rem;
    font-family: Light;
    z-index: 10;
    border-bottom: 1.5px solid #001c00;
  }

  .menuReverse {
    background-color: #001c00;
    border-bottom: 1.5px solid #fff;
  }

  #meImgContainer {
    width: 100%;
  }
  #siteNav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    margin: auto;
    padding: 1rem;
  }

  #siteNav ul li {
    display: inline-block;
  }

  #siteNav ul li a {
    padding: 0.5rem;
    margin-left: 0.5rem;
    text-decoration: none;
    transition: all 0.1s;
    border-radius: 2px;
    font-family: Light;
  }

  .menu ul li a {
    color: #001c00;
    background-color: white;
    border: solid 1.5px #001c00;
    box-shadow: -3px -3px 0 #001c00;
  }

  .menuReverse ul li a {
    color: #fff;
    background-color: #001c00;
    border: solid 1.5px #fff;
    box-shadow: -3px -3px 0 #fff;
  }

  #projSect,
  section,
  #myStorySect {
    padding: 0;
  }

  #workBody .mainCell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
  }

  .projMain,
  #myStorySect .mainCell {
    width: 100%;
    padding: 1.5rem;
    padding-top: 8rem;
    border: none;
  }

  .subGrid {
    margin: 1rem;
    box-shadow: -0.75rem -0.75rem 0 #001c00;
  }

  .projGrid {
    width: 100%;
  }

  .flexCell {
    margin-bottom: 0rem;
  }

  h1 {
    font-size: 9rem;
    line-height: 8rem;
    letter-spacing: 0px;
    padding: 2rem;
  }

  h2,
  #myStorySect h2 {
    font-size: 7rem;
    line-height: 7rem;
    letter-spacing: 0;
    margin-bottom: 0;
  }

  .projectDesc h3 {
    line-height: 2.5rem;
  }

  #banner h3 {
    font-size: 4rem;
    line-height: 4.5rem;
    padding: 1.5rem 0.5rem;
  }

  .projMain h3 {
    font-size: 4rem;
    letter-spacing: -1px;
    line-height: 5rem;
  }

  .subTitle {
    line-height: 2.25rem;
  }

  button {
    font-size: 1.5rem;
    max-width: 16rem;
    margin-left: 2rem;
  }

  p,
  .projGrid p,
  .projGrid li {
    font-size: 1.5rem;
  }

  p {
    line-height: 1.75;
  }

  .projGrid p {
    line-height: 2.25rem;
  }

  .flexCell p {
    font-size: 1.25rem;
  }

  #cescaDraw {
    transform: rotate(5deg) translate(0rem, 0rem);
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  html {
    font-size: 12px;
  }

  #title,
  #canvas,
  #canvas2 {
    max-height: 78vh;
    min-height: 55rem;
  }

  .projMain,
  #myStorySect .mainCell {
    width: 100%;
    padding: 3rem;
    padding-top: 6rem;
  }

  button {
    font-size: 1.5rem;
    max-width: 16rem;
    margin-left: 2rem;
  }
  button {
    font-size: 1.5rem;
    max-width: 16rem;
    margin-left: 2rem;
  }

  p,
  .projGrid p,
  .projGrid li {
    font-size: 1.5rem;
  }

  p {
    line-height: 1.75;
  }

  .projGrid p {
    line-height: 2.25rem;
  }

  #meImgContainer {
    width: 100%;
  }

  #cescaDraw {
    transform: rotate(5deg) translate(0rem, 0rem);
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .projGrid {
    width: 45rem;
  }

  #meImgContainer {
    width: 110%;
  }

  #cescaDraw {
    transform: rotate(5deg) translate(3rem, -10rem);
  }

  #canvas2 img {
    max-width: 45rem;
    top: 5rem;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  html {
    font-size: 14px;
  }
  h1 {
    line-height: 10.5rem;
  }

  #title,
  #canvas,
  #canvas2 {
    min-height: 70vh;
  }
  .projMain,
  #myStorySect .mainCell {
    padding: 4rem;
    padding-top: 8rem;
    width: 100%;
  }

  .projGrid {
    width: 45rem;
  }
  #canvas2 img {
    max-width: 40rem;
  }

  #canvas2 img {
    top: 1rem;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  html {
    font-size: 16px;
  }

  #title,
  #canvas,
  #canvas2 {
    min-height: 82vh;
  }

  .projMain,
  #myStorySect .mainCell {
    max-width: 75rem;
    width: 100%;
  }

  #meImgContainer {
    width: 120%;
  }
}
